name: ci

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Install Protoc
      uses: arduino/setup-protoc@v2
    - uses: actions/checkout@v4
    - uses: mlugg/setup-zig@v1
      with:
        version: 0.13.0
    - name: Build
      run: zig build
    - name: Run tests
      run: zig build test --summary all
    - name: Run random tests
      run: ./zig-out/bin/test_art -d 4
    - name: Run fat directory tests
      run: ./zig-out/bin/test_art --tests fat
